/* src/app/styles/datepicker.css */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  background-color: white;
  border: 1px solid #e5e7eb;
}

.dark .react-datepicker {
  background-color: #1f2937;
  border-color: #374151;
}

.dark .react-datepicker__header {
  background-color: #111827;
  border-bottom-color: #374151;
}

.dark .react-datepicker__current-month,
.dark .react-datepicker__day-name,
.dark .react-datepicker__day {
  color: white;
}

.dark .react-datepicker__day:hover {
  background-color: #4b5563;
}

.dark .react-datepicker__day--selected {
  background-color: #3b82f6;
}
